.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: all 0.2s ease;
    padding: 50px 0;
}

.header--black {
    background-color: #18181b;
    padding: 20px 0;
}

.header--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.header--link {
    margin: 0 30px;
    letter-spacing: 1px;
    padding: 0;
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
    color: #afafaf;
    transition: all 0.2s ease;
    border-bottom: 3px solid rgba(175, 175, 175, 0);
}

.link--active {
    border-bottom: 3px solid rgba(175, 175, 175, 1);
}

.header--logo {
    width: 45px;
    height: 38px;
    border: none;
    background: transparent url('../../img/AB.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}