.constact--con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact--form {
    background-color: #18181b;
    max-width: 800px;
    padding: 95px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact--smalltext {
    justify-content: center;
    margin-bottom: 30px;
}

.contact--title {
    font-size: 48px;
    margin-bottom: 30px;
    letter-spacing: -2px;
    text-align: center;
}

.contact--infocon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contact--infocon i {
    color: #5f68bd;
    margin-right: 15px;
    font-size: 18px;
}

.contact--infotext {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.contact--inputcon {
    display: flex;
    margin-bottom: 15px;
    margin-top: 75px;
}

.contact--inputcon2:nth-child(1) {
    margin: 0 10px 0 0;
}

.contact--input {
    width: 315px;
    padding: 9px 0;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 13px;
}

.contact--input::placeholder {
    text-transform: uppercase;
    font-size: 13px;
}

.contact--input:focus {
    outline: none;
}

.contact--textarea {
    width: 100%;
    height: 168px;
    padding: 9px 0;
    background: none;
    border: none;
    resize: none;
    color: #ffffff;
    font-size: 13px;
}

.contact--textarea::placeholder {
    text-transform: uppercase;
    font-size: 13px;
}

.contact--textarea:focus {
    outline: none;
}

.contact--border {
    height: 2px;
    transition: all 0.2s ease;
    background-color: #afafaf;
    width: 100%;
    position: relative;
    margin-top: -2px;
}

.contact--border:before {
    content: '';
    height: 2px;
    transition: all 0.6s ease;
    background-color: #5f68bd;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.contact--input1:focus + .contact--border1:before {
    width: 100%;
}

.contact--input2:focus + .contact--border2:before {
    width: 100%;
}

.contact--textarea:focus + .contact--border3:before {
    width: 100%;
}

.contact--btn {
    background-color: #5f68bd;
    padding: 12px 90px;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid #5f68bd;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all 0.2s;
    box-shadow: 16px 16px 0px #202125;
    margin-top: 50px;
}

.contact--btn:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #5f68bd;
}

@media screen and (max-width: 950px) {
    .contact--form {
        background-color: #202125;
        max-width: none;
        width: 100%;
    }

    .contact--inputcon {
        display: flex;
        margin-bottom: 15px;
        margin-top: 75px;
        flex-direction: column;
        width: 100%;
    }

    .contact--input {
        width: 100%;
    }

    .contact--inputcon2:nth-child(1) {
        margin: 0 0 20px 0;
    }

    .contact--inputcon2 {
        margin-bottom: 20px;
    }

    .contact--title {
        font-size: 28px;
    }
}