@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.eot');
    src: url('./fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Poppins-Regular.woff2') format('woff2'),
        url('./fonts/Poppins-Regular.woff') format('woff'),
        url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./fonts/Poppins-ExtraBold.eot');
    src: url('./fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('./fonts/Poppins-ExtraBold.woff') format('woff'),
        url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    font: 400 100% / 1.4 'Poppins', sans-serif !important;
    color: #afafaf;
    background-color: #18181b;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
    font: 400 100% / 1.4 'Poppins', serif;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.container {
    max-width: 1320px;
    width: 100%;
	margin: 0 auto;
    position: relative;
    padding: 0 15px;
}

.small-text {
    font-size: 8px;
    letter-spacing: 4px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.small-text:before {
    content: '';
    width: 50px;
    height: 3px;
    margin-right: 10px;
    background-color:  #afafaf;
}

.subtitle {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    position: relative;
}

.subtitle:before {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #5f68bd;
    position: absolute;
    bottom: -15px;
    left: 0;
}

@media screen and (max-width: 1350px) {
    .container {
        max-width: 1120px;
    }
}

@media screen and (max-width: 1150px) {
    .container {
        max-width: 920px;
    }
}

@media screen and (max-width: 950px) {
    .container {
        max-width: 720px;
    }

    .contact {
        background-image: none !important;
        padding: 0 !important;
    }

    .small-text::before {
        display: none;
    }

    .subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 750px) {
    .container {
        max-width: 520px;
    }
}

@media screen and (max-width: 550px) {
    .container {
        max-width: 310px;
        padding: 0 5px;
    }
}