body {
    font: 400 100% / 1.4 'Poppins', sans-serif !important;
    color: #afafaf;
    background-color: #18181b;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
    font: 400 100% / 1.4 'Poppins', serif;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.container {
    max-width: 1320px;
    width: 100%;
	margin: 0 auto;
    position: relative;
    padding: 0 15px;
}

.small-text {
    font-size: 8px;
    letter-spacing: 4px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.small-text:before {
    content: '';
    width: 50px;
    height: 3px;
    margin-right: 10px;
    background-color:  #afafaf;
}

.subtitle {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    position: relative;
}

.subtitle:before {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #5f68bd;
    position: absolute;
    bottom: -15px;
    left: 0;
}

@-webkit-keyframes fadeOut {
    from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
    from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
    animation: fadeOut 0.4s ease-in-out;
}

@media screen and (max-width: 1350px) {
    .container {
        max-width: 1120px;
    }
}

@media screen and (max-width: 1150px) {
    .container {
        max-width: 920px;
    }
}

@media screen and (max-width: 950px) {
    .container {
        max-width: 720px;
    }

    .contact {
        background-image: none !important;
        padding: 0 !important;
    }

    .small-text::before {
        display: none;
    }

    .subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 750px) {
    .container {
        max-width: 520px;
    }
}

@media screen and (max-width: 550px) {
    .container {
        max-width: 310px;
        padding: 0 5px;
    }
}